<div id="apparat-permit-user-<%= apparats_permit.user.id %>">
    <div class="col-md-6 col-sm-6">
      <%= link_to  apparats_permit.user.name, apparats_permit.user %>
    </div>
    <div class="col-md-1 col-sm-1">
      <%= check_box_tag :locked, {}, apparats_permit.locked %>
    </div>
    <div class="col-md-4 col-sm-4">
      <%= select_tag :role, options_for_select(ApparatsPermit.roles.keys, apparats_permit.role) %>
    </div>
    <div class="col-md-1 col-sm-6">
      <%= link_to "x","#", class: "remove-user-permit btn btn-danger btn-xs" %>
    </div>
</div>
