<% if @user.apparats.any? %>
  <h2 class="text-center">Призначені пристрої</h2>
  <table class="table">
    <thead>
      <tr>
        <th><strong>Назва</strong></th>
        <th><strong>ID</strong></th>
        <th><strong>Роль</strong></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @permited_apparats.each do |apparat| %>
        <tr>
          <td><strong><%= link_to apparat.apparat.name, apparat.apparat %></strong></td>
          <td><strong><%= apparat.apparat.id %></strong></td>
          <td>
            <%= form_for([apparat.user, apparat]) do |f| %>
              <%= f.select :role, ApparatsPermit.roles.keys %>
              <%= f.submit "Змінити", class: "btn btn-xs btn-warning" %>
            <% end %>
          </td>
          <td><%= link_to "Видалити", [apparat.user, apparat], method: :delete, data: {confirm: "Впевнений що хочеш видалити роль?"}, class: "btn btn-xs btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render "apparats_permits/new" %>

