<div class="col-xs-6">
  <h2>Maintained Apparats</h2>
  <% if @user.apparats.any? %>
    <table class="table">
      <tbody>
        <% @permited_apparats.each do |apparat| %>
          <tr>
            <td><strong><%= link_to apparat.apparat.name, apparat.apparat %></strong></td>
            <td>ID: <strong><%= apparat.apparat.id %></strong></td>
            <td><%= apparat.role %></td>
            <td><%= link_to "Delete", [apparat.user, apparat], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render "apparats_permits/new" %>
</div>
 
