<h1>List of all users in this app</h1>
<%- if current_user %> 
  <p>You logged as <strong><%= current_user.name %></strong> </p>
<% end -%>
<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Current IP</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.role %></td>
          <td><%= link_to "Show", "#", class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to "Edit", "#", class: "btn btn-warning btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
