<div class="container">
  
  <h1 style="text-align: center;">Інформація про інженера</h1>

  <table class="table">
    <tbody>
      <tr>
        <td><strong>Ім'я:</strong> <%= @user.name %></td>
        <td><strong>Пошта:</strong> <%= @user.email %></td>
        <td><strong>Останній IP з якого зайшов в систему:</strong> <%= @user.current_sign_in_ip %></td>
        <% if @user.admin? %>
           <td><strong>Адміністратор:</strong> <%= @user.admin %></td>
        <% end %>
      </tr>
    </tbody> 
  </table>

  <% if current_user.admin? %>
    <%= link_to "Редагувати інформацію", edit_user_path(@user), class: "btn btn-warning btn-xs" %>
  <% end %>
  <% if current_user.admin? and @user != current_user %>
    <%= link_to "Видалити інженера", user_path(@user), data: {confirm: "Впевнений що хочеш видалити інженера?"}, method: :delete, class: "btn btn-danger btn-xs" %>
  <% end %>

  <% if !@user.admin? %>
    <div class="row">
      <div class="col-xs-6">
        <%= render "users/apparats_table" %>
      </div>
      <div class="col-xs-6">
        <%= render "users/companies_table" %>
      </div>
    </div>
  <% end %>
</div>
