<div class="text-left">
  <h1>Personal user information</h1>
  <br>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <% if @user.admin %>
     <p><strong>Admin:</strong> <%= @user.admin %></p>
  <% end %>
  <p>Тут має бути список фірм, які обслуговує інженер. Та список апаратів. Їх можна додавати, забирати, та змінювати права доступу на редагування, перегляд.</p>

  <% @apparats.each do |apparat| %>
    <p>
      <strong><%= link_to apparat.apparat.name, apparat.apparat %>:</strong>
      <%= apparat.role %> 
      <%= apparat.apparat.id %>
    </p>
  <% end %>

  <% @companies.each do |company| %>
    <p>
      <strong><%= link_to company.company.name, company.company %>:</strong>
      <%= company.role %> 
      <%= company.company.id %>
    </p>
  <% end %>

  <p><strong>Last sign in IP:</strong> <%= @user.current_sign_in_ip %></p>
  <%= link_to "Delete User", user_path(@user), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-xs" %>
</div>
