<div class="text-left">
  
  <h1 style="text-align: center;">Personal user information</h1>

  <table class="table">
    <tbody>
      <tr>
        <td><strong>Name:</strong> <%= @user.name %></td>
        <td><strong>Email:</strong> <%= @user.email %></td>
        <td><strong>Last sign in IP:</strong> <%= @user.current_sign_in_ip %></td>
        <% if @user.admin? %>
           <td><strong>Admin:</strong> <%= @user.admin %></td>
        <% end %>
      </tr>
    </tbody> 
  </table>

  <% if current_user.admin? and @user != current_user  %>
    <%= link_to "Delete User", user_path(@user), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-xs" %>
  <% end %>

  <% if !@user.admin? %>
    <div class="row">
      <div class="col-xs-6">
        <%= render "users/apparats_table" %>
      </div>
      <div class="col-xs-6">
        <%= render "users/companies_table" %>
      </div>
    </div>
  <% end %>
</div>
