<div class="form-inline grey-back">
  <legend>Застосувати фільтр</legend>
  <%= form_tag apparats_path, method: :get do %>
    <%= label_tag :company_id, "Вибери компанію: " %>
    <% companies = options_for_select(policy_scope(Company).map {|company| [company.name.titleize, company.id]}) %>
    <%= select_tag :company_id, companies, include_blank: true, class: "form-control" %>
    <%= label_tag :product_type, "Тип пристрою: " %>
    <% types = options_for_select(Apparat.product_types.keys.map {|key| [key.humanize, key]}) %>
    <%= select_tag :product_type, types, include_blank: true, class: "form-control" %>
    <%= label_tag :desc_fragment, "Рядок:" %>
    <%= text_field_tag :desc_fragment, nil, placeholder: "фрагмент опису", class: "form-control" %>
    <%= submit_tag "Шукати", class: "btn btn-success" %>
  <% end %>
</div>
