<div class="form-inline grey-back">
  <legend>Використати номер</legend>
  <%= form_tag goto_path, method: :patch do %>
    <div class="form-group">
      <%= label_tag :id, "Перейти до пристрою: " %>
      <%= text_field_tag :id, nil, class: "form-control" %>
    </div>
    <%= submit_tag "Вперед!", class: "btn btn-success" %>
  <% end %>
</div>
<br><br>
<div class="form-inline grey-back">
  <legend>Застосувати фільтр</legend>
  <%= form_tag apparats_path, method: :get do %>
    <%= label_tag :company_id, "Вибери компанію: " %>
    <% companies = options_for_select(policy_scope(Company).map {|company| [company.name.titleize, company.id]}) %>
    <%= select_tag :company_id, companies, include_blank: true, class: "form-control" %>
    <%= label_tag :product_type, "Тип пристрою: " %>
    <% types = options_for_select(Apparat.product_types.keys.map {|key| [key.humanize, key]}) %>
    <%= select_tag :product_type, types, include_blank: true, class: "form-control"%>
    <%= submit_tag "Шукати", class: "btn btn-success" %>
  <% end %>
</div>
