<div class="text-left">
  <table class="table table-stripped table-hover table-condensed">
    <tbody>
      <tr>
        <td class="col-md-2"><strong>Ім'я</strong><td>
        <td><%= @contact.name %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Телефон</strong><td>
        <td><%= @contact.phone %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Пошта</strong><td>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Скайп</strong><td>
        <td><%= @contact.skype %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Компанія</strong><td>
        <td><%= link_to @contact.company.name, @contact.company %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Редагувати", edit_company_contact_url, class: "btn btn-warning" %>
  <%= link_to "Видалити", company_contact_url(@contact), method: :delete, data: {confirm: "Впевнений що хочеш видалит контакт?"}, class: "btn btn-danger" %>
</div>
