<h2>Контакти: </h2>
<div class="row">
  <% @company.contacts.each do |contact| %>
    <div>
      <div class="col-md-5 col-sm-5">
        <% if policy(contact).update? %>
          <%= link_to contact.name, edit_company_contact_url(@company, contact) %>
        <% else %>
          <%= link_to contact.name, company_contact_url(@company, contact) %>
        <% end %>
      </div>
    
      <div class="col-md-5 col-sm-5">
        <%= contact.phone %>
        <% if contact.default %>
           (основний)
         <% end %>
      </div>
      
      <div class="col-md-2 col-sm-2">
        <% if policy(contact).destroy? %>
          <%= link_to "x", company_contact_path(@company, contact),
              method: :delete,
              data: { confirm: "Видалити контакт?" },
              class: "btn btn-danger btn-xs" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Новий контакт", new_company_contact_url(@company), class: "btn btn-xs btn-primary" %></li>

