<div class="text-left">
  <p>Твоя роль на компанії: <strong><%= current_role @company %></strong></p>
  <table class="table table-stripped table-hover table-condensed">
    <tbody>
      <tr>
        <td class="col-md-1"><strong>Назва: </strong></td>
        <td><%= @company.name %></td>
      </tr>
      <tr>
        <td class="col-md-1"><strong>Телефон: </strong></td>
        <td><%= @company.phone %></td>
      </tr>
      <tr>
        <td class="col-md-1"><strong>Опис: </strong></td>
        <td><%= simple_format(@company.description) %></td>
      </tr>
      <tr>
        <td class="col-md-1"><strong>Пристрої: </strong></td>
        <td>
          <ul>
            <% @company.apparats.each do |apparat| %>
              <li><%= link_to apparat.name, apparat %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="col-md-1"><strong>Контакти:</strong></td>
        <td><%= render "contacts" %></td>
     </tr>
     <%= render "users" %>
    </tbody>
  </table>
  <p>
    <% if policy(@company).edit? %>
      <%= link_to "Редагувати", edit_company_path(@company), class: "btn btn-warning" %>
    <% end %>
    <% if policy(@company).destroy? %> 
      <%= link_to "Видалити", @company, method: :delete, data: { confirm: "Впевнений що хочеш видати компанію?" }, class: "btn btn-danger" %>
    <% end %>
  </p>
</div>

