<li class="text-left">
  <div id="apparat">
    <%= apparat.id %>
    <%= link_to apparat.name, apparat %>
    <%= apparat.description %>
    <% if policy(apparat).show? %>
      <%= link_to "Дивитися", apparat_path(apparat), class: "btn btn-info btn-xs" %>
    <% end %>
    <% if policy(apparat).edit? %>
      <%= link_to "Редагувати", edit_apparat_path(apparat), class: "btn btn-success btn-xs" %>
    <% end %>
  </div>
</li>
