<div class="list-item">
  <% if policy(apparat).update? %>
    <%# <%= link_to (edit_apparat_path(apparat)) do %1> %>
      <div>
        <div class="row list-item-header">
          <span class="col-md-1 text-center"><%= apparat.id %></span>
          <span class="col-md-3"><%= short_name(apparat.name) %></span>
          <span class="col-md-2"><%= apparat.ip_address if apparat.ip_address %></span>
          <span class="col-md-6"><%= apparat.company.name if apparat.company %></span>
        </div>
    <%= link_to (edit_apparat_path(apparat)) do %>
        <p><%= apparat.description %></p>
      </div>
    <% end %>
  <% else %>
    <%# <%= link_to (apparat_path(apparat)) do %1> %>
      <div>
        <div class="row list-item-header">
          <span class="col-md-1 text-center"><%= apparat.id %></span>
          <span class="col-md-3"><%= apparat.name %></span>
          <span class="col-md-2 ip-address"><%= apparat.ip_address if apparat.ip_address %></span>
          <span class="col-md-6"><%= apparat.company.name if apparat.company %></span>
        </div>
    <%= link_to (apparat_path(apparat)) do %>
        <p><%= apparat.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
