<h2>Контакти:</h2>
<div class="contact-buttons">
<%= link_to "Перегляд", "#", class: "btn btn-default", id: "show-contacts-list" %>
<%= link_to '+', '#', class: "btn btn-xs btn-success" %>
</div>
<div id="contacts-list" class="row">
<% @apparat.contacts.map do |contact| %>
  <div class="col-md-5 col-sm-5">
    <%= link_to contact.name, company_contact_path(contact.company, contact) %>
  </div>
  <div class="col-md-5 col-sm-5">
    <%= contact.phone %>
  </div>
  <div class="col-md-2 col-sm-2">
    <%= link_to 'x', '#', class: "remove-contact-from-list btn btn-xs btn-danger" %>
  </div>
<% end %>
</div>
