<div class="main-page">
  <%= form_for @apparat do |f| %>
    <div class="information">
      <div class="container">
        <%= render "shared/error_messages", object: @apparat %>
        <h1 class="text-left">Пристрій № <%= @apparat.id %></h1>
        
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <h2><%= f.label :name, "Назва" %></h2>
            <%= f.text_field :name, class: "whitebox" %>
          </div>
          <div class="col-md-2 col-sm-2">
            <h2><%= f.label :type, "Тип"  %></h2>
            <%= f.select(:product_type, 
                         Apparat.product_types.keys.map {|type| [type.titleize,type]}, 
                         {include_blank: true}, { class: "whitebox"}) %>
          </div>
          <div class="col-md-2 col-sm-2">
            <h2><%= f.label :company, "Компанія" %></h2>
            <%= f.collection_select :company_id, Company.all, :id, :name, 
                                    {include_blank: true}, class: "whitebox" %>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if current_user.admin? %>
              <h2>Закріплені інженери:</h2>
              <div class="whitebox">
                  <%= render "users" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-2">
            <h2><%= f.label :serial_number, "Серійний №" %></h2>
            <%= f.text_field :serial_number, class: "whitebox" %>
          </div>
          <div class="col-md-2 col-sm-2">
            <h2><%= f.label :ip_address, "ІР адреса" %></h2>
            <%= f.text_field :ip_address, class: "whitebox" %>
          </div>
          <div class="col-md-8 col-sm-8">
            <%= render "contacts_list" %>
          </div>
        </div>
        <div>
          <h2><%= f.label :description, "Опис" %></h2>
          <%= f.text_area :description, rows: "10", class: "whitebox" %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= f.submit yield(:button_text), class: "btn btn-default pull-right" %>
    </div>
  <% end %>
</div>
