<h1>apparat#index</h1>                                                                                                                                                                                                                                             </div><!-- /.container -->
<p><%= link_to "New Apparat", new_apparat_path, class: "btn btn-info" %></p>
<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Serial #</th>
        <th>Type</th>
        <th>Contact</th>
        <th>IP Address</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @apparats.each do |apparat| %>
        <tr>
          <td><%= apparat.id %></td>
          <td><%= link_to apparat.name, apparat %></td>
          <td><%= link_to apparat.company.name, '#' %></td>
          <td><%= apparat.serial_number %></td>
          <td><%= apparat.product_type %></td>
          <td><%= apparat.contact %></td>
          <td><%= apparat.ip_address %></td>
          <td><%= apparat.description %></td>
       </tr>  
      <% end %>
    </tbody>
  </table>
</div> 
