<div class="main-page">
  <div class="information">
    <div class="container">
      <h1 class="text-left">Пристрій № <%= @apparat.id %></h1>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <h2>Назва:</h2>
          <span class="whitebox">
            <%= @apparat.name %>
          </span>
        </div>
        <div class="col-md-2 col-sm-2">
          <h2>Тип:</h2>
          <span class="whitebox">
            <%= @apparat.product_type.humanize if @apparat.product_type %>
          </span>
        </div>
        <div class="col-md-2 col-sm-2">
          <h2>Компанія:</h2>
          <span class="whitebox">
            <%= @apparat.company.name if @apparat.company %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6">
          <% if current_user.admin? %>
          <h2>Закріплені інженери:</h2>
            <span class="whitebox">
              <%= render "users" %>
            </span>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-sm-2">
          <h2>Серійний номер:</h2>
          <span class="whitebox">
            <%= @apparat.serial_number if @apparat.serial_number %>
          </span>
        </div>
        <div class="col-md-2 col-sm-2">
          <h2>ІР адреса:</h2>
          <span class="whitebox">
            <%= @apparat.ip_address %>
          </span>
        </div>
        <div class="col-md-8 col-sm-8">
          <%= render "contacts" %>
        </div>
      </div>

      <h2>Опис:</h2>
      <span class="whitebox description">
        <%= simple_format(@apparat.description) %>
      </span>
    </div>
  </div>
  <div class="container">
    <div class="apparat-add-description">
      <% if policy(@apparat).update_description? %>
        <%= render "apparats/update_description_form" %>
      <% end %>
    </div>
  </div>
</div>
