<div class="text-left">
  <p>Твоя роль на поточному пристрої: <strong><%= current_role @apparat %></strong></p>
  <table class="table table-stripped table-hover table-condensed">
    <tbody>
      <tr>
        <td class="col-md-2"><strong>ID: </strong></td>
        <td><%= @apparat.id %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Назва: </strong></td>
        <td><%= @apparat.name %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Компанія власник: </strong></td>
        <td><%= link_to @apparat.company.name, @apparat.company %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Серійний номер: </strong></td>
        <td><%= @apparat.serial_number %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>Тип: </strong></td>
        <td><%= @apparat.product_type.humanize if @apparat.product_type %></td>
      </tr>
      <tr>
        <td class="col-md-2"><strong>IP адреса: </strong></td>
        <td><%= @apparat.ip_address %></td>
      </tr>
      <% if current_user.admin? %>
        <tr>
          <td class="col-md-2"><strong>Інженери: </strong></td>
          <td>
            <% @apparat.users.each do |user| %>
              <%= link_to user.name, user %>
              <%= user.apparats_permits.find_by(apparat: @apparat).role %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="col-md-2"><strong>Опис: </strong></td>
        <td><%= simple_format(@apparat.description) %></td>
      </tr>
    </tbody>
  </table> 

  <p>
    <% if policy(@apparat).edit? %>
      <%= link_to "Редагувати", edit_apparat_path(@apparat), class: "btn btn-warning" %>
    <% end %>
    <% if policy(@apparat).destroy? %> 
      <%= link_to "Видалити", @apparat, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </p>

  <% if policy(@apparat).update_description? %>
    <div id="add-description-form">
      <%= render "apparats/update_description_form" %>  
    </div>
  <% end %>
</div>
